<!DOCTYPE html> {% load static i18n %}
<html>
<head>
    <title>{% trans "rock"|capfirst %}-{% trans "paper"|capfirst %}-{% trans "scissors"|capfirst %} {% trans "game"|capfirst %}</title>
</head>
<body>
    <h1>{% trans "game"|capfirst %}</h1>
    <h2>{% trans "rock"|capfirst %}-{% trans "paper"|capfirst %}-{% trans "scissors"|capfirst %}</h2>
    
    <form method="post">
        {% csrf_token %}
        <label for="move">{% trans "choose your move"|capfirst %}:</label>
        <select name="move" id="move">
            <option value="rock">{% trans "rock"|capfirst %}</option>
            <option value="paper">{% trans "paper"|capfirst %}</option>
            <option value="scissors">{% trans "scissors"|capfirst %}</option>
        </select>
        <button type="submit">{% trans "play"|capfirst %}</button>
    </form>

    {% if result %}
        <h2>{{ result }}</h2>
        <p>{% trans "your move:"|capfirst %} {{ user_move }}</p>
        <p>{% trans "computer's move:"|capfirst %} {{ computer_move }}</p>
    {% endif %}
</body>
</html>
