body {
    background-color: none; /* pakeis background spalva, kuria galima rinktis palietus spalvu palete pries koda: #cccccc */
    /*background-image: url('/static/img/jerome.jpg'); /* viso puslapio background paveiksliukas */
    /*background-size: cover; /* contain: sutalpins .jpg tik vertikaliai, o horizontaliai padaugins paveikslelius, cover: isples visa pav. per puslapi */
    /*background-repeat: none; /* galime isjungti paveiksleliu horizontalu pasikartojima */
    font-family: sans-serif; /* srifto keitimas */
    font-size: 20px; /* srifto dydis - siuo metu 20 pikseliu */
    display: flex; /* visas puslapis bus FLEX boxu sistema, ne grid (antras galimas isdestymo variantas) */
    flex-direction: column; /* isdestymas boxu bus vertikalus */
    margin: 0; /* netures margin tarpu (galima keisti taip judindami boxus) */
    padding: 0; /* netures padding tarpu (galima keisti taip judindami boxus) */
    min-height: 100vh; /* uzims 100% device height/vertical height */

}

body h1 { 
    background-color: #9999993f; /* header/virsaus spalva, paskutinis 9f - permatomumas */
    display: flex; /* pati header padaro i FLEX boxu sistema */
    flex-direction: row; /* header FLEX boxai bus is desines i kaire */
    align-items: center; /* sucentruos visus boxus headeryje is virsaus i apacia */
    justify-content: center; /* sucentruos visus boxus headeryje i centra (reikia nurodyti - centre) */
}

body h2 { 
    background-color: #5c7acb3f; /* header/virsaus spalva, paskutinis 9f - permatomumas */
    display: flex; /* pati header padaro i FLEX boxu sistema */
    flex-direction: row; /* header FLEX boxai bus is desines i kaire */
    align-items: center; /* sucentruos visus boxus headeryje is virsaus i apacia */
    justify-content: center; /* sucentruos visus boxus headeryje i centra (reikia nurodyti - centre) */
}

main {
    flex-grow: 1; /* jeigu 1 tai puslapis plesis kiek turi vietos per visa FLEX boxa */
    background-color: #3ca8453f; /* cccccc9f */
}

footer {
    background-color: #6666669f; /* footerio/apacios spalva, 9f - permatomumas */
}