body {
    background-color: #cccccc; /* pakeis background spalva, kuria galima rinktis palietus spalvu palete pries koda: #cccccc */
    /*background-image: url('/static/img/rules.png'); /* viso puslapio background paveiksliukas */
    background-size: cover; /* contain: sutalpins tik vertikaliai, o horizontaliai padaugins paveikslelius, cover: isples visa pav. per puslapi */
    background-repeat: none; /* galime isjungti paveiksleliu horizontalu pasikartojima */
    font-family: sans-serif; /* srifto keitimas */
    font-size: 30px; /* srifto dydis - siuo metu 20 pikseliu */
    display: flex; /* visas puslapis bus FLEX boxu sistema, ne grid (antras galimas isdestymo variantas) */
    flex-direction: column; /* isdestymas boxu bus vertikalus */
    margin: 0; /* netures margin tarpu (galima keisti taip judindami boxus) */
    padding: 0; /* netures padding tarpu (galima keisti taip judindami boxus) */
    min-height: 100vh; /* uzims 100% device height/vertical height */

}

header .logo { 
    background-color: #9999993f; /* header/virsaus spalva, paskutinis 9f - permatomumas */
    font-size: 75px; /* srifto dydis - siuo metu 20 pikseliu */
    font-weight: 700; /* pastorins srifta */
    text-decoration: none; /* linko underline bus nuimtas */
    display: flex; /* pati header padaro i FLEX boxu sistema */
    flex-direction: row; /* header FLEX boxai bus is desines i kaire */
    align-items: center; /* sucentruos visus boxus headeryje is virsaus i apacia */
    justify-content: center; /* sucentruos visus boxus headeryje i centra (reikia nurodyti - centre) */
    margin: 0; /* netures margin tarpu (galima keisti taip judindami boxus) */
    padding: 0; /* netures padding tarpu (galima keisti taip judindami boxus) */
}

h1 { 
    background-color: #5c7acb3f; /* header/virsaus spalva, paskutinis 9f - permatomumas */
    font-size: 20px; /* srifto dydis - siuo metu 20 pikseliu */
    display: flex; /* pati header padaro i FLEX boxu sistema */
    /*flex-direction: row; /* header FLEX boxai bus is desines i kaire */
    /*align-items: center; /* sucentruos visus boxus headeryje is virsaus i apacia */
    justify-content: center; /* sucentruos visus boxus headeryje i centra (reikia nurodyti - centre) */
    margin: 0; /* netures margin tarpu (galima keisti taip judindami boxus) */
    padding: 0; /* netures padding tarpu (galima keisti taip judindami boxus) */
}

main {
    flex-grow: 1; /* jeigu 1 tai puslapis plesis kiek turi vietos per visa FLEX boxa */
    background-color: #cccccc3f; /*  */
}

footer {
    background-color: #6666669f; /* footerio/apacios spalva, 9f - permatomumas */
    align-items: center;
}

select {
    background-color: #d8d8d8;
    border: 1px solid #666666;
    border-bottom: 3px solid #004488;
    padding: 0.5rem;
    margin: 1rem 2rem;
    font-size: 100%;
    cursor: pointer;
    border-radius: 0.5rem; /* mygtuko kampus suapvalins */
}

button { /* apstilizuosime visus "button" */
    background-color: #d8d8d8;
    border: 1px solid #666666;
    border-bottom: 3px solid #004488;
    padding: 0.5rem;
    margin: 1rem 2rem;
    font-size: 90%;
    cursor: pointer;
    border-radius: 0.5rem; /* mygtuko kampus suapvalins */
}

button:hover { /* keisti elemento statusa, t.y. PALIETUS teksta jis pasikeis */
    background-color: #b8b8b8;
    border-bottom: 3px solid #e81e1e;
} 